### CSE 482 Exercise 03

#### Name: Wenting Liu

***2. Write a python script using the mysql-connector library to performs the following steps:***

*a. Open a connection to the CSE database server (mysql-user-cse.egr.msu.edu). Your username and database name is the same as your MSU NetID. If you’re using the database for the first time, the password is your student PID. Note: if you can’t access the database server from outside the campus, you may need to use the EGR VPN or do the exercise on campus. Please refer to our announcement on d2l (on Sep 19) for further information.*

In [1]:
import pandas as pd

column_names = ['RevisionId', 'ArticleName', 'Timestamp', 'Editor']

data = pd.read_table('wiki_edit.txt',sep=' ',header=None,names=column_names)

data[:4]

   RevisionId ArticleName   Timestamp            Editor
0     9019643   Anarchism  2005-01-01  ip:24.136.172.37
1     9062018   Anarchism  2005-01-03   ip:137.53.22.23
2     9085524   Anarchism  2005-01-03   ip:24.42.90.254
3     9140836   Anarchism  2005-01-06  ip:69.61.184.201

In [2]:
uname = "liuwent3"
pwd = "A62206258"
hname = "mysql-user-cse.egr.msu.edu"

In [3]:
import mysql.connector
from mysql.connector import errorcode

try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    query = "DROP TABLE IF EXISTS Wiki_Edit"
    cursor.execute(query)

    query = """CREATE TABLE IF NOT EXISTS Wiki_Edit (RevId int PRIMARY KEY,
                                ArticleName varchar(100),EditDate date,User varchar(50))
            """
    cursor.execute(query)
    cursor.close()
    cnx.commit()
    cnx.close()
    
except:
    print(mysql.connector.Error)

In [4]:
def byUnicode(char):
    if ord(char) < 48 or ord(char) > 127: return ''
    else: return char

try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    
    for index, row in data.iterrows():
        rid = row['RevisionId']
        Article = ''.join(list(filter(byUnicode, row['ArticleName'])))
        EditDate = row['Timestamp']
        User = row['Editor']
        if index < 100:
            query = "INSERT INTO Wiki_Edit VALUES (" + str(rid) + ",'" 
            query += Article + "','" + EditDate + "','"+ User + "')"""
            cursor.execute(query)
        
    cnx.commit()
    cursor.close()
    cnx.close()
    
except:
    print(mysql.connector.Error)

In [5]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    query = "SELECT * FROM Wiki_Edit"
    cursor.execute(query)
    
    for (rid, article, edate, user) in cursor:
        print(rid, article, edate, user)

    cursor.close()
    cnx.close()
    
except:
    print(mysql.connector.Error)

9004293 Alchemy 2005-01-01 Jdforrester
9005545 Alexander_the_Great 2005-01-01 ip:24.28.123.143
9005806 Anime 2005-01-01 JoshG
9015217 Alchemy 2005-01-01 Wereon
9015731 Alchemy 2005-01-01 House_of_Shin
9016874 Alchemy 2005-01-01 Xerxes314
9017507 Aldous_Huxley 2005-01-01 ip:207.194.162.118
9018840 Alchemy 2005-01-01 Urhixidur
9019643 Anarchism 2005-01-01 ip:24.136.172.37
9019692 Aruba 2005-01-01 ip:69.47.102.177
9034032 Allah 2005-01-01 ip:208.210.74.2
9034734 Abraham_Lincoln 2005-01-02 ip:24.85.3.38
9038272 Albert_Einstein 2005-01-01 Fastfission
9038508 Afghanistan 2005-01-01 Wilfried_Derksen
9046623 Agriculture 2005-01-01 Egil
9046723 Agriculture 2005-01-02 ip:24.235.150.64
9062018 Anarchism 2005-01-03 ip:137.53.22.23
9068001 Abortion 2005-01-03 ip:206.127.66.41
9072606 Academy_Award 2005-01-02 ip:67.182.173.144
9072963 Abortion 2005-01-03 Sdfisher
9073683 Albert_Einstein 2005-01-02 Fvw
9082287 Abraham_Lincoln 2005-01-03 Polynova
9085524 Anarchism 2005-01-03 ip:24.42.90.254
9085580 Abraham_Lincoln 2005-01-03 ip:128.143.193.134
9090610 Abraham_Lincoln 2005-01-04 JimWae
9090968 Abraham_Lincoln 2005-01-04 JimWae
9091379 Anime 2005-01-02 JoshG
9097269 Alexander_the_Great 2005-01-04 ip:68.166.166.154
9118390 Anime 2005-01-05 ip:24.114.252.183
9119495 Albert_Einstein 2005-01-04 Sundar
9130519 Actor 2005-01-01 LiDaobing
9132094 Alaska 2005-01-04 ip:69.154.179.15
9134428 Abraham_Lincoln 2005-01-05 JimWae
9140836 Anarchism 2005-01-06 ip:69.61.184.201
9153170 Afghanistan 2005-01-06 ip:62.82.184.204
9159042 Abortion 2005-01-03 BM
9160986 A 2005-01-06 Fvw
9165313 Abraham_Lincoln 2005-01-06 JimWae
9167237 Abraham_Lincoln 2005-01-07 JimWae
9169350 Articles_of_Confederation 2005-01-07 Mateo_SA
9169828 Articles_of_Confederation 2005-01-07 JimWae
9170567 Aquarius_constellation 2005-01-06 Moverton
9176250 Agriculture 2005-01-02 Tsavage
9179405 Afghanistan 2005-01-07 ip:68.163.73.88
9184892 American_football 2005-01-07 ip:24.103.207.38
9185432 Albert_Einstein 2005-01-07 Piotrus
9185941 Albert_Einstein 2005-01-07 Fredrik
9194806 Algeria 2005-01-05 ip:194.228.128.63
9199523 Austria 2005-01-08 Cantus
9201252 Aries_constellation 2005-01-07 Maximaximax
9208696 Ayn_Rand 2005-01-08 ip:70.68.228.208
9232211 Arabic_language 2005-01-09 Circeus
9241211 Andorra 2005-01-09 JohnArmagh
9243125 Achilles 2005-01-08 ip:24.3.52.22
9249680 Algeria 2005-01-10 Gzornenplatz
9261586 Abraham_Lincoln 2005-01-10 ip:64.5.154.156
9261984 Argentina 2005-01-10 ip:66.109.70.177
9266037 Albert_Einstein 2005-01-10 Steven_Luo
9268436 Albert_Einstein 2005-01-10 JRM
9271186 Afghanistan 2005-01-10 ip:69.17.35.72
9287944 Austria 2005-01-11 ip:129.143.4.65
9288161 Abraham_Lincoln 2005-01-11 ip:207.72.66.5
9288252 Abraham_Lincoln 2005-01-11 ip:207.72.66.5
9291610 Alexander_the_Great 2005-01-11 ip:81.214.7.136
9298154 Anime 2005-01-11 ip:169.139.185.1
9301374 Algeria 2005-01-11 Gznorneplatz
9314361 Alexander_the_Great 2005-01-12 Josquius
9316043 ASCII 2005-01-01 R.123
9320708 Asia 2005-01-11 Mormegil
9322799 Abortion 2005-01-11 Kaldari
9327071 Arabic_language 2005-01-12 SimonP
9339391 Alaska 2005-01-13 ip:
9344330 Altruism 2005-01-13 Paul_Stansifer
9351053 Alberta 2005-01-09 ip:202.89.189.53
9359796 Aikido 2005-01-13 Gwalla
9359900 Alphabet 2005-01-11 Euniana
9360545 Alphabet 2005-01-14 ip:145.97.223.187
9360677 Abortion 2005-01-14 MamaGeek
9365136 Altruism 2005-01-14 AdamRetchless
9365499 Altruism 2005-01-14 RJII
9365829 Aldous_Huxley 2005-01-13 ip:207.194.162.126
9366392 Altruism 2005-01-14 RJII
9368007 American_football 2005-01-14 Rhobite
9368253 American_football 2005-01-14 ip:24.103.207.38
9375616 Anime 2005-01-12 Matteh
9378669 Articles_of_Confederation 2005-01-07 Mateo_SA
9387247 Arthur_Koestler 2005-01-15 ip:146.176.2.17
9390272 Anatomy 2005-01-15 ip:80.168.225.12
9393691 American_football 2005-01-15 Rhobite
9407403 Albania 2005-01-15 SpookyMulder
9413900 Antarctica 2005-01-10 ip:200.125.38.73
9423061 Ankara 2005-01-15 Mu5ti
9442531 Alexander_the_Great 2005-01-15 SimonP
9447711 Articles_of_Confederation 2005-01-15 Hello5959us
9457128 Aldous_Huxley 2005-01-14 Pcpcpc
9503610 ASCII 2005-01-13 ip:151.203.96.36
9508248 Arthur_Koestler 2005-01-15 ip:146.176.2.17
9513283 American_Revolutionary_War 2005-01-15 Edward
9540082 Astronaut 2005-01-11 Sheridan
10885584 Arithmetic_mean 2005-01-15 Jleedev

*b. Create a table named Wiki_Edit, which contains the following schema:*

    RevisionID: int Primary Key
    
    ArticleName: varchar(100)
    
    EditDate: date
    
    UserName: varchar(50)

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
  host=hname,
  user=uname,
  password=pwd,
  #database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Wiki_Edit (RevisionID INT, ArticleName VARCHAR(100), EditDate DATE, UserName VARCHAR(50), PRIMARY KWY(RevisionID))")

mydb.close()

*c. Read the file wiki_edit.txt and parse each line to identify the individual fields. For this exercise, do not use the read_table and DataFrame approach shown in lecture 4. Instead, you should read the file directly, parse each line, and store the fields from each line into the database. You should refer to the example given in slide #16 in lecture 2 on how to read
from the data file directly and split each line into the individual fields.*

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host=hname,
  user=uname,
  password=pwd,
  #database="mydatabase"
)

mycursor = mydb.cursor()

file = open('wiki_edit.txt', 'r')
file_content = file.read()
file.close()

query = "INSERT INTO table VALUES (%s)"

mycursor.execute(query, (file_content,))

my_data = []
for line in mycursor:
    my_data.append(line.strip().split(','))

mydb.commit()
mydb.close()

*d. Query the database to find the Article name with largest number of edits.*

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host=hname,
  user=uname,
  password=pwd,
  #database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT Editor, Count(*) FROM ArticleName, GROUP BY Editor, GROUP BY Count(*) DESB, LIMIT 1"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

NameError: name 'hname' is not defined

***3. Install MongoDB to your machine.***

*b. Using pymongo, write an Jupyter notebook script that will store the entries in the wiki_edit.txt file to a collection named wiki in MongoDB. To store the data, you need to convert each line into a dictionary object. The keys to the dictionary correspond to RevisionID, ArticleName, EditDate, and UserName and the values correspond to the individual entries in each line of the file:*

    columns = line.strip().split(‘ ‘)
    
    record = { ‘RevisionID’: columns[0], …., ‘UserName’: columns[3]}
    
    db.wiki.insert_one(record)

In [62]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["wiki"]

mongo_docs = []
for ind in data.index:
    record = { "RevisionID": str(data["RevisionId"][ind]), 
               "ArticleName": data["ArticleName"][ind], 
               "EditDate": data["Timestamp"][ind],
               "UserName": data["Editor"][ind]}
    mongo_docs += [record]

mycol.insert_many(mongo_docs)

*c. Write a query to find the date and username of editors who edited the “Anarchism” article:*

    revisions = db.wiki
    
    for line in revisions.find({"ArticleName": "Anarchism"}):
    
    print line["EditDate"], line["UserName"]

In [64]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["wiki"]

revisions = mycol

for line in revisions.find({"ArticleName": "Anarchism"}):
    print(line["EditDate"], line["UserName"])

2005-01-01 ip:24.136.172.37
2005-01-01 ip:24.136.172.37
2005-01-03 ip:137.53.22.23
2005-01-03 ip:24.42.90.254
2005-01-06 ip:69.61.184.201